{% extends "base.html" %}

{% block script %}
<script>
    function getIdProduto(element){
        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", "get_produto", false);
        xhttp.send(element.cells[0].innerHTML); // busca o produto pelo id
        text = xhttp.responseText
        var result = JSON.parse(text); // Resultado em JSON
        document.getElementById("prod_id").value = result.id;
        document.getElementById("nome").value = result.nome;
        document.getElementById("vr_custo").value = result.vr_custo.toFixed(2);
        document.getElementById("vr_venda").value = result.vr_venda.toFixed(2);

    }
</script>
{% endblock %}

{% block navigator %}
<table>
    <tr>
        <th><a href="/">Painel de controle</a></th>
        <th><a href="vendas">Vendas</a></th>
    </tr>
</table>
{% endblock %}

{% from "macros.html" import render_field %}
{% block contents %}
<form action="{{ url_for('produtos')}}" method="post">
    {{ form.csrf_token }}

    {{ render_field(form.id) }}

    {{ render_field(form.nome) }}

    {{ render_field(form.vr_custo) }}

    {{ render_field(form.vr_venda) }}

    <input type="submit" name="btnSalvar" value="Salvar" />
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="w3-ul">
    {% for message in messages %}
      <li class="w3-blue">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if erro %}
    <p class="w3-red"><strong>Erro:</strong> {{ erro }}</p>
{% endif %}

<table class="w3-table w3-bordered">
    <tr>
        <h1>Listagem de produtos cadastrados</h1>
    </tr>
    <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Vr. Custo</th>
        <th>Vr. Venda</th>
    </tr>
    {% for produto in produtos %}
        <tr onclick="getIdProduto(this)">
            <td> {{ produto.id }} </td>
            <td> {{ produto.nome }} </td>
            <td> {{ '%0.2f' % produto.vr_custo|float }} </td>
            <td> {{ '%0.2f' % produto.vr_venda|float }} </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}

{% block footer %}
<footer>Dados atualizados em {{ dat_hora_atualizacao }}</footer>
{% endblock %}
