{% extends "base.html" %}
{% block navigator %}
<table>
    <tr>
        <th><a href="/">Painel de controle</a></th>
        <th><a href="produtos">Produtos</a></th>
    </tr>
</table>
{% endblock %}

{% block contents %}
<table style="width:60%">
    <tr>
        Painel de Controle
    </tr>
    <tr>
        <th>Produtos</th>
        <th>Vendas</th>
    </tr>
    <tr>
        <th> {{ num_prods }} </th>
        <th> {{ num_vendas }} </th>
    </tr>
</table>
{% endblock %}

{% block footer %}
<footer>Dados atualizados em {{ dat_hora_atualizacao }}</footer>
{% endblock %}
