attrs==21.4.0 
Automat==20.2.0 
constantly==15.1.0 
greenlet==2.0.2 
hyperlink==21.0.0 
idna==3.3 
importlib-metadata==4.11.2 
incremental==21.3.0 
six==1.16.0 
SQLAlchemy==1.4.32 
Twisted==22.2.0 
typing-extensions==4.1.1 
zipp==3.7.0 
zope.interface==5.4.0
