<!doctype html>
<title>Sistema de Controle de Estoque</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=main>
  <h1>Controle de Estoque</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">Entrar</a>
  {% else %}
    <a href="{{ url_for('logout') }}">Sair</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>